.oneUp-container {
  width: 860px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.connect-button {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(40, 79, 207);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.data-section {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1.5px solid darkgray
}